* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  max-width: 1170px;
  padding: 0 12px;
  margin: 0 auto;
}

.search {
  margin-bottom: 45px;
}

.search-box {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(37, 110, 235);
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-box input {
  flex-grow: 1;
  padding: 14px 22px;
  border-radius: 5px;
  outline: none;
  border: none;
  min-width: 0;
}

.search-btn {
  display: flex;
  align-items: center;
  gap: 3px;
}

.search-btn .search-btn_text {
  margin-left: 2px;
  padding-top: 2px;
  font-size: 16px;
  line-height: 19px;
}

.search-btn .search-btn_icon {
  width: 15px;
  height: 15px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.content {
  padding-bottom: 50px;
}

.content-main {
  flex-grow: 1;
}

.content-side {
  width: 260px;
  min-width: 260px;
}

.content-main_title {
  color: rgb(10, 20, 58);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 25px;
}

.content-main_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.content-side_title {
  color: rgb(10, 20, 58);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  margin-bottom: 23px;
}

.content-side_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  height: 100%;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 36px;
  padding-top: 36px;
}

.content-side_list-title {
  margin-top: 7px;
  margin-bottom: 5px;
  color: rgb(10, 20, 58);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
}

.content-side_list-text {
  color: rgb(10, 20, 58);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.content-side_list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-side_footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  height: 100%;
}

.content-side_footer-item {
  color: rgb(196, 196, 196);
  margin: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-decoration-line: underline;
}

.content-product {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.content-product_left {
  flex-basis: 50%;
}

.content-product_right {
  flex-basis: 50%;
}

.content-product_title .content-product_price {
  color: rgb(10, 20, 58);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.content-product_img {
  width: 100%;
}

.content-product_text {
  color: rgb(10, 20, 58);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

@media (max-width: 1200px) {
  .container {
    max-width: 930px;
  }
  .content-main_list-item {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }

  .content-box {
    flex-direction: column;
    justify-content: start;
  }

  .content-main {
    width: 100%;
  }

  .content-side {
    width: 100%;
  }

  .content-product {
    font-display: column;
    width: 100%;
  }

  .content-product_left {
    flex-basis: 100%;
    width: 100%;
  }

  .content-product_right {
    flex-basis: 100%;
    width: 100%;
  }
}

@media (max-width: 786px) {
  .container {
    max-width: 100%;
  }

  .search-btn_text {
    display: none;
  }
}

@media (max-width: 480px) {
  .content-main_list-item {
    width: 100%;
  }
}
